.btn {
    display: inline-block;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
    opacity: 0.9;
    cursor: pointer;
}

.remove {
    background-color: #f44336;
    color: #FFFFFF;
}

.edit {
    background-color: #32335a;
    color: #FFFFFF; 
}